<div style="text-align:center">
  <h1>
    OHHH tu t'es perdu ou quoi !!!
  </h1>
<img src="/assets/ressources/404.gif" alt="Flowers in Chania">
  <!-- <iframe src="https://giphy.com/embed/VwoJkTfZAUBSU" width="332" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/89a-eightninea-VwoJkTfZAUBSU">via GIPHY</a></p> -->
</div>
