
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" routerLinkActive="active"><a routerLink="home">Home</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="news">News</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="snews">Single News</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">News App</h3>
      </div>

      <router-outlet></router-outlet>

      <footer class="footer">
        <p>&copy; 2018 News App, Inc.</p>
      </footer>

    </div> <!-- /container -->
