<div class="jumbotron" *ngFor="let article of articles">
  <h1>{{ article.title }}</h1>
  <p class="lead">{{ article.description.substring(0, 200) + ' ...' }}</p>
  <p><a class="btn btn-lg btn-success" routerLink="/news/{{ article.id }}" role="button">Lire la suite ...</a></p>
</div>
